<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/style.css" rel="stylesheet">
    <scritp src="js/script.js" type="javascript/application"></scritp>
  </head>
  <body>
    <div id="page">
      <div id="header">authenticated</div>
      <div id="topmanu">
        <ul>
          <li><a href="{{link}}"></a></li>
        </ul>
      </div>
      <div id="content">
        <h1>Hello world</h1>
        <p>Get on it!</p>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>