
.login-wrapper.full.text_center
  h1.login-head Internal
    span Communication
  .login-box
    form(name="login")
      p
        input(type="text" name="username" placeholder="username")
      p
        input(type="password" name="password" placeholder="password")

      p.text_right
        a.submit_btn(href="#register") Register

      p.text_right
        a.submit_btn(href="#login") Login

    .login-info
