html, body{
    background-color: #252525;
    font-family: sans-serif;
}
a{ color: #ffa649; }
a:hover{ color: #e79642; }


#page{
    width: 80%;
    margin: 0 auto;
    background-color: #3c3f41;
    color: #A1A1A1;
}

#header{border-bottom: 1px solid #636363;}
#logo{}
#topnav{padding: 10px; font-size: 12px; text-align: right}
#content{}
#dialog{
    min-height: 300px;
    margin: 5px;
    padding: 5px;
}
#sidebar{display: none}
#input{
    border-top: 1px solid #202020;
    border-bottom: 1px solid #202020;
}
#area{}
#areanav{}
#footer{
    background-color: #333538;
    color: #8F8F8F;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

#logo>span:nth-child(1){
    font-size: 30px;
    padding-left: 15px;
    padding-right: 0px;
}
#logo>span:nth-child(2){
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    color: #F0FFA1;
    background-color: #656565;
}
#logo>span:nth-child(3){
    font-size: 12px;
    color: #dcddff;
}

#login{
    width: 210px;
    margin: 150px auto;
}
#login input[type=text], #login input[type=password]{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #595959;
    background-color: #212121;
    color: #A5A5A5;
}
#login input[type=submit]{
    padding: 0;
    border: none;
    background-color: #3C3F41;
    color: #F0FFA1;
    font-size: 12px;
    text-decoration: underline;
}
#login input[type=submit][name=reg]{
    float: right;
}
#login .info{
    font-size: 12px;
    margin-top: 10px;
    padding: 3px;
    background-color: #121212;
}
.txt_def{color: #A1A1A1}
.txt_red{color: #ff1500}

.input-field{
    width: 90%;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, serif;
    background-color: #272727;
    color: #BDBDBD;
}
.input-field:focus {
    outline: none;
    background-color: #2C2C2C;
}
.input-nav {
    vertical-align: top;
}
.btn {
    font-size: 12px;
    color: #ffa649;
    background-color: #323232;
    padding: 3px 10px;
    margin: 5px;
    text-decoration: none;
    line-height: 16px;
    cursor: pointer;
    border-top: 1px solid #535353;
    border-bottom: 1px solid #202020;
    border-left: 1px solid #535353;
    border-right: 1px solid #202020;
}
.btn:hover {
    color: #e79642;
    background-color: #272727;
}

#sb-open.sb-opened{
    background-color: #656565;
    color: #F0FFA1;
    border: 1px solid #F5F4CE;
}
#content.sb-opened{
    /*display: inline-block;*/
    /*width: calc(100% - 240px);*/
}
#sidebar.sb-opened{
    /*display: inline-block;*/
    display: table-cell;
    width: 240px;
}

.usrbox {
    padding: 5px;
    font-size: 12px;
    border-left: 1px solid #606060;
    border-bottom: 1px solid #303030;
    margin: 2px 0 2px;
    border-top: 1px solid #4E4E4E;
}
.usrbox.active {
    color: #fff;
    background-color: #454545;
}





















/*
html, body{
    font-family: sans-serif;
}
#page{
    width: 800px;
    margin: 0 auto;
}

.tplHead{
    background-color: #D8D8D8;
    color: #1E164A;
}

.content{
    min-height: 500px;
}

.tplDialog{
    width: 80%;
    background-color: #fffff7;
    vertical-align: bottom;
    border-left: 5px solid #D8D8D8;
}

.tplSidebar{
    vertical-align: top;
    background-color: #D8D8D8;
}

.tplInput{
    width: 80%;
}

.tplNavigation{
    vertical-align: top;
    background-color: #D8D8D8;
}

.usrbox {
    background-color: #636B80;
    font-size: 12px;
    color: #fff;
    border-top: none;
    padding: 3px;
    margin-bottom: 5px;
}
.inputField {
    min-height: 100px;
    border:  5px solid #D8D8D8;
    border-right: none;
    font-size: 12px;
    font-family: Arial, serif;
    padding: 5px;
    background-color: #fff;
    color: #000;
}
.inputField:focus {
    outline: none;
    background-color: #f7f7f7;
}

.logo>span:nth-child(1){
    font-size: 30px;
    padding-left: 15px;
    padding-right: 0px;
}
.logo>span:nth-child(2){
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background-color: #636B80;
}
.logo>span:nth-child(3){
    font-size: 12px;
    color: #fff;
}


*/














