html, body{
    background-color: #252525;
    font-family: sans-serif;
}
#page{
    width: 80%;
    margin: 0 auto;
    background-color: #3c3f41;
    color: #963186;
}

#header{}
#logo{}
#topnav{}
#content{}
#dialog{min-height: 300px}
#sidebar{display: none}
#input{}
#area{}
#areanav{}
#footer{
    background-color: #333538;
    border-top: 1px solid #141414;
    color: #8F8F8F;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

#logo>span:nth-child(1){
    font-size: 30px;
    padding-left: 15px;
    padding-right: 0px;
}
#logo>span:nth-child(2){
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background-color: #636B80;
}
#logo>span:nth-child(3){
    font-size: 12px;
    color: #fff;
}

#login{
    width: 210px;
    margin: 150px auto;
}
#login input[type=text]{
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #595959;
    background-color: #212121;
    color: #A5A5A5;
}
#login input[type=submit]{
    padding: 0;
    border: none;
    background-color: #3C3F41;
    color: #A5A5A5;
}




/*
html, body{
    font-family: sans-serif;
}
#page{
    width: 800px;
    margin: 0 auto;
}

.tplHead{
    background-color: #D8D8D8;
    color: #1E164A;
}

.content{
    min-height: 500px;
}

.tplDialog{
    width: 80%;
    background-color: #fffff7;
    vertical-align: bottom;
    border-left: 5px solid #D8D8D8;
}

.tplSidebar{
    vertical-align: top;
    background-color: #D8D8D8;
}

.tplInput{
    width: 80%;
}

.tplNavigation{
    vertical-align: top;
    background-color: #D8D8D8;
}

.usrbox {
    background-color: #636B80;
    font-size: 12px;
    color: #fff;
    border-top: none;
    padding: 3px;
    margin-bottom: 5px;
}
.inputField {
    min-height: 100px;
    border:  5px solid #D8D8D8;
    border-right: none;
    font-size: 12px;
    font-family: Arial, serif;
    padding: 5px;
    background-color: #fff;
    color: #000;
}
.inputField:focus {
    outline: none;
    background-color: #f7f7f7;
}

.logo>span:nth-child(1){
    font-size: 30px;
    padding-left: 15px;
    padding-right: 0px;
}
.logo>span:nth-child(2){
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background-color: #636B80;
}
.logo>span:nth-child(3){
    font-size: 12px;
    color: #fff;
}

.btn_simple {
    background-color: #636B80;
    font-size: 12px;
    color: #fff;
    padding: 3px;
    margin: 5px;
}
*/














