html, body{
    background-color: #252525;
    font-family: sans-serif;
}
a{ color: #ffa649; }
a:hover{ color: #e79642; }


#page{
    width: 80%;
    margin: 0 auto;
    background-color: #3c3f41;
    color: #A1A1A1;
}

#header{border-bottom: 1px solid #636363;}
#logo{}
#topnav{padding: 10px; font-size: 12px; text-align: right}
#content{}
#dialog{
    min-height: 300px;
    padding: 0 5px 5px;
}
#sidebar{display: none}
#input{
    border-top: 1px solid #202020;
    border-bottom: 1px solid #202020;
}
#area{}
#areanav{}
#footer{
    background-color: #333538;
    color: #8F8F8F;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

#logo>span:nth-child(1){
    font-size: 30px;
    padding-left: 15px;
    padding-right: 0px;
}
#logo>span:nth-child(2){
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    color: #F0FFA1;
    background-color: #656565;
}
#logo>span:nth-child(3){
    font-size: 12px;
    color: #dcddff;
}

#login{
    width: 210px;
    margin: 150px auto;
}
#login input[type=text], #login input[type=password]{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #595959;
    background-color: #212121;
    color: #A5A5A5;
}
#login input[type=submit]{
    padding: 0;
    border: none;
    background-color: #3C3F41;
    color: #F0FFA1;
    font-size: 12px;
    text-decoration: underline;
}
#login input[type=submit][name=reg]{
    float: right;
}
#login .info{
    font-size: 12px;
    margin-top: 10px;
    padding: 3px;
    background-color: #121212;
}
.txt_def{color: #A1A1A1}
.txt_red{color: #ff1500}

#area{
    height: auto;
    min-height: 42px;

    /*padding: 0px;*/
    border: 0;
    overflow: hidden;
    outline: 0;
    margin: 0px;
    resize: none;

    width: 90%;
    vertical-align: top;
    /*    margin: 5px;;*/
    padding: 0 5px;
    font-size: 12px;
    font-family: Arial, serif;
    background-color: #272727;
    color: #BDBDBD;
}
#area:focus {
    outline: none;
    background-color: #2C2C2C;
}
#areanav {
    vertical-align: top;
}
.btn {
    font-size: 12px;
    color: #ffa649;
    background-color: #323232;
    padding: 3px 10px;
    margin: 5px;
    text-decoration: none;
    line-height: 16px;
    cursor: pointer;
    border-top: 1px solid #535353;
    border-bottom: 1px solid #202020;
    border-left: 1px solid #535353;
    border-right: 1px solid #202020;
}
.btn:hover {
    color: #e79642;
    background-color: #272727;
}
.btn:active {
    color: #ebea7e;
    background-color: #191919;
}
.btn_min{
    padding: 1px 5px;
    margin: 0 0 0 2px;
    display: inline;
}

#sb-open.sb-opened{
    background-color: #656565;
    color: #F0FFA1;
    border: 1px solid #F5F4CE;
}
#content.sb-opened{
    /*display: inline-block;*/
    /*width: calc(100% - 240px);*/
}
#sidebar.sb-opened{
    /*display: inline-block;*/
    display: table-cell;
    width: 240px;
}

.usrbox {
    padding: 5px;
    font-size: 12px;
    border-left: 1px solid #606060;
    border-bottom: 1px solid #303030;
    margin: 2px 0 2px;
    border-top: 1px solid #4E4E4E;
}
.usrbox.online {
    color: #fff;
    background-color: #454545;
}
.usrbox>.tbl_cell:first-child{
    width: 38px;
    border-right: 1px solid #515151;
}
.usrbox>.tbl_cell:last-child{padding-left: 5px;}



/*LOADER*/
.loader{
    margin: 20% auto;
}
#input_loader{
    display: block;
    position: absolute;
    margin-left: -40px;
}
.input_loader_ico{
    display: none;
    width: 36px;
    height: 36px;
    margin-top: 14px;
}

/*DIALOG*/

#content{
    /*max-height: 300px;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}
#dialog{}
#dialog_messages{
    max-height: 260px;
    overflow-y: auto;
}

#infoblock{display: none;}
#infoline{display: none;}
#content-above{display: none;}


.mbox{
    /*border-top:2px solid #333333;*/
    margin-top: 3px;
    color: white;
}
.mbox_ico{
    vertical-align: top;
    width: 40px;
    /*border-right: 2px solid #333333;*/
}
.mbox_ico img{
    background-color: #1f1f1f;
    padding: 4px;
}
.mbox_ctx{
    vertical-align: top;
    padding-right: 3px;
    /*border-top: 2px solid #333333;*/
}
.mbox_ctx>div:first-child{
    background-color: #1f1f1f;
    font-family:  monospace, "Ubuntu Mono",  "Ubuntu Condensed", "Ubuntu", "sans", "sans-serif";
    line-height: 20px;
    font-size: 12px;
    color: #c9ea3e;
}
.mbox_ctx>div:last-child{}
.mbox_ctx .mbox_time{
    color: #717171;
    font-style: italic;
}
.mbox_ctx .mbox_name{
    color: #A393E3;
}
.mbox_msg{
    display: inline-block;
    padding: 4px;
    color: white;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 200px;
    max-width: 100%;
}
.mbox_msg ul{
    margin-left: 20px;
    color: #cbe7ea;
}
.mbox_msg ul>li{}
.mbox_msg a{}
.mbox_msg code{}
.mbox_msg pre{}
.mbox_msg b{}
.mbox_msg p{}
.mbox_msg span.code{
    display: inline;
}
.mbox_nav{
    text-align: right;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border: 0px none #bd0404;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}
::-webkit-scrollbar-track {
    background: #212121;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #333333;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}























