<h3>Настройки своего профиля</h3>
<div class="tbl profile">
    <div class="tbl_cell">

        <div class="profile_ico">
            <img src="/ns.app/demo/chapp/images/user.png" alt="">
        </div>
        <div><span class="btn">Change photo</span></div>

    </div>
    <div class="tbl_cell">
        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>
    </div>
</div>
<div class="txt_right"><span class="btn">Save</span></div>

