<h3>Settings Aplication</h3>
<div class="tbl settings-open">
    <div class="tbl_cell">

        <ul>
            <li>Lorem ipsum dolor sit amet,
            <li>consectetur adipisicing elit.
            <li>Ab, aliquam asperiores at
            <li>consequuntur dolorem ducimus,
            <li>nobis omnis perspiciatis
            <li>placeat quis quos recusandae
            <li>repellendus similique tenetur ut!
            <li>consequuntur dolorem ducimus,
            <li>nobis omnis perspiciatis
            <li>placeat quis quos recusandae
            <li>repellendus similique tenetur ut!
        </ul>

        <div>
            <span class="btn">quos</span>
            <span class="btn">repellen</span>
            <span class="btn">photo</span>
        </div>

    </div>
    <div class="tbl_cell">
        <div class="editfield_title">editfield_title</div>
        <div class="editfield linker" data-id="set-field" data-name="user" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>
    </div>
    <div class="tbl_cell">
        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>
    </div>
</div>
<div class="txt_right"><span class="btn">Save</span></div>
