<h3>Settings Aplication</h3>
<div class="tbl settings-open">
    <div class="tbl_cell">
        <div class="editfield_title">editfield_title</div>
        <div class="editfield linker" data-id="set-field" data-name="user" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>
    </div>
    <div class="tbl_cell">
        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" contenteditable="true">User Name</div>
    </div>
</div>
<div class="txt_right"><span class="btn">Save</span></div>
