<div class="usrbox tbl">
    <div class="tbl_cell">
        IMG
    </div>
    <div class="tbl_cell">
        <p>Name Of Name</p>
        <p>Age 123456789</p>
    </div>
</div>

<div class="usrbox tbl">
    <div class="tbl_cell">
        IMG
    </div>
    <div class="tbl_cell">
        <p>Name Of Name</p>
        <p>Age 123456789</p>
    </div>
</div>

<div class="usrbox tbl">
    <div class="tbl_cell">
        IMG
    </div>
    <div class="tbl_cell">
        <p>Name Of Name</p>
        <p>Age 123456789</p>
    </div>
</div>

<div class="usrbox tbl">
    <div class="tbl_cell">
        IMG
    </div>
    <div class="tbl_cell">
        <p>Name Of Name</p>
        <p>Age 123456789</p>
    </div>
</div>