html, body{
    background-color: #f7f7f7;
}


#page{}
#header{
    border-bottom: 1px solid #eeeeee;
}
#content{
    background-color: #ffffff;
}
#main{}
#sidebar{}
#nav{}
#nav li{display: inline}
#nav li a{
    display: inline-block;
    padding:5px 10px;
}
#footer{}
#section{
    width: 80%;
    margin: 0 auto;
}