<h3>Настройки своего профиля</h3>
<div class="tbl profile">
    <div class="tbl_cell">

        <div class="profile_ico">
            <img src="/ns.app/demo_chapp/images/user.png" alt="">
        </div>
        <div><span class="btn">Change photo</span></div>

    </div>
    <div class="tbl_cell">
        <div class="editfield_title">Fullname</div>
        <div class="editfield" contenteditable="true">{{fullname}}</div>

        <div class="editfield_title">Profession</div>
        <div class="editfield" contenteditable="true">{{profession}}</div>

        <div class="editfield_title">Description</div>
        <div class="editfield" contenteditable="true">{{description}}</div>

        <div class="editfield_title">Email</div>
        <div class="editfield" contenteditable="true">{{email}}</div>

        <div class="editfield_title">Phone</div>
        <div class="editfield" contenteditable="true">{{phone}}</div>
    </div>
    <div class="tbl_cell">
        <div class="editfield_title">User name (login)</div>
        <div class="editfield" contenteditable="true">{{username}}</div>

        <div class="editfield_title">Change password</div>
        <div class="editfield" contenteditable="true">New pass...</div>
    </div>
</div>
<div class="txt_right"><span class="btn">Save</span></div>
