<h3>Settings Application</h3>
<div class="tbl settings-open">
    <div class="tbl_cell">
        <div class="editfield_title">Auto update, connect to server every seconds:</div>
        <div class="editfield linker" data-id="optfield" data-name="au_interval"
             contenteditable="true">{{au_interval}}</div>

        <div class="editfield_title">Show only active (online) users</div>
        <div class="editfield" data-id="optfield" data-name="show_active"
             contenteditable="true">{{show_active}}</div>

        <div class="editfield_title">Messages history, days:</div>
        <div class="editfield" data-id="optfield" data-name="au_interval"
             contenteditable="true">7</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" data-id="optfield" data-name="au_interval"
             contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield" data-id="optfield" data-name="au_interval"
             contenteditable="true">User Name</div>
    </div>
    <div class="tbl_cell">
        <div class="editfield_title">editfield_title</div>
        <div class="editfield"
             contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield"
             contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield"
             contenteditable="true">User Name</div>

        <div class="editfield_title">editfield_title</div>
        <div class="editfield"
             contenteditable="true">User Name</div>
    </div>
</div>
<div class="txt_right">
    <span class="btn">Close</span>
    <span class="btn">Save</span>
</div>
